%p The neighborhood website is https://www.butlercreek.org, your username is your email address (#{@user.email}), and your password is #{@user.password}. Once you sign in, you can change your password from the "Account" link at the top right of the screen. You will have access to the residents list, board minutes, by-laws, and other resident-only material.

%p The site works great on mobile devices, and the menu bar becomes a button at the upper-right corner of the screen. We are trying to get more valuable content on it so more people will use it, and we're getting there slowly but surely.

%p Please let me know if you have any questions or issues.

%p #{@admin.user.first_last}
%p #{@admin.user.email}