= link_to "New #{document_type.split.map(&:capitalize).join(' ')}", new_article_path if current_user && current_user.can_create?(Article)
- articles.each do |a|
    = render partial: "article", locals: { article: a }
