.col-md-9
    %h2 Butler Creek Architectural
    %p Please review the ACC-related articles below. If you have any questions or need to submit ACC documents to the board, please contact #{@acc_chair.user.first_last} at #{@acc_chair.user.email}.
    = render partial: "articles_list", locals: { articles: @articles, document_type: 'architectural document', tag: 'acc' }
