.col-md-12
    %h1 Butler Creek Architectural
    %p Please review the ACC-related articles below. If you have any questions or need to submit ACC documents to the board, please contact #{board_name(@acc_chair)} at #{board_email(@acc_chair)}.
    = render partial: "articles_list", locals: { articles: @articles, document_type: 'architectural document', tag: 'acc' }
