.row
    .col-md-9
        %h2 Butler Creek News
.row
    .col-md-9
        %h4 The latest happenings around Butler Creek...
        = render partial: "articles_list", locals: { articles: @articles, document_type: 'news' }
