.row
    .col-md-12.admin
        %h1 Editing Mail Group - #{@mail_group.name}
.row
    .col-md-5.admin
        = render 'form', locals: {url: add_members_admin_mail_groups_path, header: "Residents Not In Group", button_text: "Add Selected to Group", data: @non_members}
    .col-md-1
    .col-md-5.admin
        = render 'form', locals: {url: remove_members_admin_mail_groups_path, header: "Residents In Group", button_text: "Remove Selected from Group", data: @members}
