.col-md-9
    %h2 Mail Groups

    %table.table
        %thead
            %tr
                %th Name
                %th

        %tbody
            - @mail_groups.each do |mail_group|
                %tr
                    %td= mail_group.name
                    %td= link_to "Edit", edit_admin_mail_group_path(mail_group)