.row
    .col-md-6.admin
        %h1 New Mail Group
.row
    .col-md-6
        = simple_form_for @mail_group, url: admin_mail_groups_path do |f|
            = f.error_notification

            .form-inputs
                .form-inputs.row
                    = f.input :name, wrapper_html: {class: "col-md-6"}

            .form-actions
                = f.button :submit, class: "btn btn-primary"
