.col-md-9
    %h2 Butler Creek Board

    %table.table
        %thead
            %tr
                %th Description
                %th Name
                %th Email
                %th Phone

        %tbody
            - @board_members.each do |member|
                %tr
                    %td= member.description
                    %td= board_name(member)
                    %td= board_email(member)
                    %td= board_phone(member)
