%h1 Butler Creek Board

%table.table.table-striped
    %thead
        %tr
            %th Description
            %th Name
            %th Email
            %th Phone

    %tbody
        - @board_members.each do |member|
            %tr
                %td= member.description
                %td= (member.spouse ? member.user.spouse_name : member.user.first_name) + " " + member.user.last_name
                %td= member.spouse && member.user.spouse_email ? member.user.spouse_email : member.user.email
                %td= member.spouse && member.user.spouse_phone ? member.user.spouse_phone : member.user.phone_number
