.col-md-9
    %h2 Butler Creek Block Captains

    %table.table
        %thead
            %tr
                %th Description
                %th Name
                %th Email
                %th Phone

        %tbody
            - @block_captains.each do |captain|
                %tr
                    %td= captain.description
                    %td= captain.user.first_last
                    %td= captain.user.email
                    %td.wrap= captain.user.phone
