.row
    .col-md-9
        %h2 Butler Creek Residents

.row
    .col-md-9
        %table.table.collapsed#residents-list
            %thead
                %tr
                    %th
                    %th Contact Info
                    - if @can_update_user
                        %th
            %tbody
                - @residences.each do |residence|
                    %tr.collapsed
                        %td.collapsed.first
                            = render partial: 'residence', locals: {residence: residence}
                        %td.collapsed
                            = render partial: 'contact_info', locals: {residence: residence, display_private: @can_display_private}
                        - if @can_update_user
                            %td.collapsed
                                = link_to admin_residence_path(residence.id), title: "Edit", class: "btn btn-primary btn-xs admin-header" do
                                    %span.glyphicon.glyphicon-edit
