.col-md-12
    %h2 Butler Creek Residents

    -# %table.table.table-striped
    %table.table#residents-list
        %thead
            %tr
                %th Name
                %th Address
                %th Email
                %th Phone
                %th Year

        %tbody
            - @residences.each do |residence|
                %tr
                    -# - if current_user.can_update?(resident)
                    - if @can_update_user
                        %td= link_to residence.listing_names, edit_user_registration_path
                    - else
                        %td= residence.listing_names
                    %td= residence.address
                    %td.wrap<= residence.listing_emails
                    %td.wrap<= residence.listing_phones(@can_display_private)
                    %td= residence.purchase_year
