html {
  height: 100%;
}

body {
  padding-top: 50px;
  height: 100%;
}

img#logo {
  height: 40px;
  float: left;
  padding-right: 10px;
  margin-top: -10px;
}

img.img-fluid {
  display: block;
  width: 100%;
  // border: 1px solid #ddd;
  // padding: 15px;
}

header > h3 {
  display: inline-block;
}

div.article {
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
}

/* Set the fixed height of the footer here */
footer {
  height: 50px;
  background-color: #001a00;
  color: #9d9d9d;
}

#article-body {
  height: 300px;
}

#attachment-header {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

#copyright {
  padding-top: 20px;
  font-size: 0.75em;
}

#menu {
  background-color: #001a00;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

.alert {
  margin-top: 20px;
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.article-published {
  font-size: 0.75em;
  font-style: italic;
  color: #b3b3b3;
  margin-left: 0px;
  display: block;
}

.article-title {
  margin-top: 40px;
}

.article-expires {
  font-size: 0.75em;
  font-style: italic;
  color: #b3b3b3;
}

.carousel {
  border-bottom: 5px solid #001a00;
}

.form-group.tight-row {
  margin-bottom: 0px;
}

.help-block {
  font-size: 0.9em;
  font-style: italic;
}

.mce-content-body {
  padding: 10px;
}

.news {
  height: 300px;
}

.wrap {
  white-space: pre-line;
}
