body {
  padding-top: 50px;
}

.news {
  height: 300px;
}

#menu {
  background-color: #001a00;
}

img#logo {
  height: 40px;
  float: left;
  padding-right: 10px;
  margin-top: -10px;
}

.article-published {
  font-size: 0.75em;
  font-style: italic;
  color: #b3b3b3;
  margin-left: 10px;
}

.article-expires {
  font-size: 0.75em;
  font-style: italic;
  color: #b3b3b3;
}

header > h3 {
  display: inline-block;
}

.help-block {
  font-size: 0.9em;
  font-style: italic;
}

#article-body {
  height: 300px;
}

div.article {
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.wrap {
  white-space: pre-line;
}

.form-group.tight-row {
  margin-bottom: 0px;
}

#attachment-header {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
