.container
    %nav.navbar.navbar-inverse.navbar-fixed-top#menu{ role:  "navigation" }
        .container
            / Brand and toggle get grouped for better mobile display
            .navbar-header
                %button.navbar-toggle{ type: "button", "data-toggle": "collapse", "data-target": "#bs-example-navbar-collapse-1" }
                    %span.sr-only Toggle navigation
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                -# %a{href: root_path}
                -#     %img#logo{ src: "/images/bchoalogo.gif" }
                %a.navbar-brand{ href: root_path }
                    %img#logo{ src: "/images/bchoalogo.gif" }
                    Butler Creek
            / Collect the nav links, forms, and other content for toggling
            .collapse.navbar-collapse#bs-example-navbar-collapse-1
                %ul.nav.navbar-nav.navbar-right
                    %li
                        %a{ href: root_path } Home
                    %li.dropdown
                        -# %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
                        %a.dropdown-toggle{ href: "#", "data-toggle": "dropdown" }
                            About
                            %span.caret
                        %ul.dropdown-menu
                            %li
                                %a{ href: board_path } Meet the Board
                            %li
                                %a{ href: block_captains_path } Block Captains
                    %li
                        %a{ href: news_path } News
                    %li.dropdown
                        -# %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
                        %a.dropdown-toggle{ href: "#", "data-toggle": "dropdown" }
                            Residents
                            %span.caret
                        %ul.dropdown-menu
                            - if user_signed_in?
                                %li
                                    %a{ href: residents_path } Residents List
                                %li
                                    %a{ href: minutes_path } Board Minutes
                                %li
                                    %a{ href: documents_path } By-Laws and Covenants
                            %li
                                %a{ href: newsletters_path } Newsletters
                            %li
                                %a{ href: rules_path } Facility Rules
                            %li
                                %a{ href: acc_path } Architectural
                    - if user_signed_in? && (current_user.has_role?(:admin) || current_user.can_create?(MailMessage))
                        %li.dropdown
                            %a.dropdown-toggle{ href: "#", "data-toggle": "dropdown" }
                                Admin
                                %span.caret
                            %ul.dropdown-menu
                                - if current_user.can_create?(MailMessage)
                                    %li
                                        %a{ href: new_mail_path } Send Mail
                    - if user_signed_in?
                        %li= link_to "Account", edit_user_registration_path
                        %li= link_to "Sign Out", destroy_user_session_path, method: :delete
                    -else
                        %li= link_to "Sign In", new_user_session_path
